{% extends 'layouts/master.twig' %} {% set pageName = " index" %} {% set pageTitle = "anime-watching" %} {% block
content %}

<div class="featured-section">

    <div class="container ">
        <div class="mt-2 mb-5">
            <p>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a href="index.html">Home</a>
                <a href="categories.html"> > Categories</a>
                <a href="#"> > Romance</a>
                > Fate Stay Night: Unlimited Blade
            </p>
        </div>



        <img class="anime-episode" src="/images/anime-watch.jpg">
    </div>






</div>
{% endblock %}