{% extends 'layouts/master.twig' %} {% set pageName = " index" %} {% set pageTitle = "anime-watching" %} {% block
content %}

<div class="featured-section">
	<div class="container">
		<div class="anime-watch-nav my-5">
			<p>
				<i class="fa fa-home" aria-hidden="true"></i>
				<a href="index.html">Home</a>
				<a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Categories</a>
				<a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Romance</a>
				<i class="fa fa-angle-right" aria-hidden="true"></i> Fate Stay Night: Unlimited Blade
			</p>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="episode-swtich mb-3">
					<button class="btn"><i class="fa fa-angle-left" aria-hidden="true"></i> Önceki Bölüm</button>
					<button class="btn">Sonraki Bölüm <i class="fa fa-angle-right" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<img class="anime-video" src="/images/anime-watch.jpg" />
			</div>
			<div class="col-md-3 p-md-0">
				<div class="episode-sidebar">
					<div class="episode-list-title"><h5 class="m-0">Bölümler</h5></div>
					<a href="#"><div class="episode-list">1. Bölüm</div></a>
					<a href="#"><div class="episode-list">2. Bölüm</div></a>
					<a href="#"><div class="episode-list">3. Bölüm</div></a>
					<a href="#"><div class="episode-list">4. Bölüm</div></a>
					<a href="#"><div class="episode-list">5. Bölüm</div></a>
					<a href="#"><div class="episode-list">6. Bölüm</div></a>
					<a href="#"><div class="episode-list">7. Bölüm</div></a>
					<a href="#"><div class="episode-list">8. Bölüm</div></a>
					<a href="#"><div class="episode-list">9. Bölüm</div></a>
					<a href="#"><div class="episode-list">10. Bölüm</div></a>
					<a href="#"><div class="episode-list">11. Bölüm</div></a>
					<a href="#"><div class="episode-list">12. Bölüm</div></a>
					<a href="#"><div class="episode-list">13. Bölüm</div></a>
					<a href="#"><div class="episode-list">14. Bölüm</div></a>
					<a href="#"><div class="episode-list">15. Bölüm</div></a>
					<a href="#"><div class="episode-list">16. Bölüm</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
