{% extends 'layouts/master.twig' %} {% set pageName = " index" %} {% set pageTitle = "blog-details-content-box-details"
%} {% block content %}
<div class="featured-section">
	<div class="blog-details">
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-lg-8">
					<p class="my-3">
						ACTION, MAGIC -
						<span>March 08, 2020</span>
					</p>
					<h1 class="my-3">Anime for Beginners: 20 Pieces of Essential Viewing</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<img src="/images/blog-details-pic.jpg" />
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 mt-4">
					<div class="blog-details-content-box">
						<p>
							As a result the last couple of eps haven’t been super exciting for me, because they’ve been
							more like settling into a familiar and comfortable routine. We’re seeing character growth
							here but it’s subtle (apart from Shouyou, arguably). I mean, Tobio being an asshole is
							nothing new – it’s kind of the foundation of his entire character arc. Confronting whether
							his being an asshole is a problem for the Crows this directly is a bit of an evolution, and
							probably an overdue one at that, but the overall dynamic with Kageyama is basically
							unchanged.
						</p>
					</div>
					<div class="blog-details-content-box">
						<h2 class="mb-3">Tobio-Nishinoya showdown:</h2>
						<img src="/images/bd-item-3.jpg" />
						<p class="mt-4">
							As a result the last couple of eps haven’t been super exciting for me, because they’ve been
							more like settling into a familiar and comfortable routine. We’re seeing character growth
							here but it’s subtle (apart from Shouyou, arguably). I mean, Tobio being an asshole is
							nothing new – it’s kind of the foundation of his entire character arc. Confronting whether
							his being an asshole is a problem for the Crows this directly is a bit of an evolution, and
							probably an overdue one at that, but the overall dynamic with Kageyama is basically
							unchanged.
						</p>
					</div>
					<div class="blog-details-content-box">
						<h2 class="mb-3">Tobio-Nishinoya showdown:</h2>
						<img src="/images/bd-item-3.jpg" />
						<p class="mt-4">
							As a result the last couple of eps haven’t been super exciting for me, because they’ve been
							more like settling into a familiar and comfortable routine. We’re seeing character growth
							here but it’s subtle (apart from Shouyou, arguably). I mean, Tobio being an asshole is
							nothing new – it’s kind of the foundation of his entire character arc. Confronting whether
							his being an asshole is a problem for the Crows this directly is a bit of an evolution, and
							probably an overdue one at that, but the overall dynamic with Kageyama is basically
							unchanged.
						</p>
					</div>
					<div class="blog-details-content-box">
						<h2 class="mb-3">Tobio-Nishinoya showdown:</h2>
						<img src="/images/bd-item-3.jpg" />
						<p class="mt-4">
							As a result the last couple of eps haven’t been super exciting for me, because they’ve been
							more like settling into a familiar and comfortable routine. We’re seeing character growth
							here but it’s subtle (apart from Shouyou, arguably). I mean, Tobio being an asshole is
							nothing new – it’s kind of the foundation of his entire character arc. Confronting whether
							his being an asshole is a problem for the Crows this directly is a bit of an evolution, and
							probably an overdue one at that, but the overall dynamic with Kageyama is basically
							unchanged.
						</p>
					</div>
					<div class="blog-content-comment-line"><hr /></div>
					<div class="blog-details-comment-count mb-5"><h3>3 Comments</h3></div>
					<div class="blog-details-comment">
						<div class="blog-details-comment-pp"><img src="/images/comment.png" /></div>
						<div class="blog-details-comment-text">
							<span>Sep 08, 2020</span>
							<h5>John Smith</h5>
							<p>
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
								velit, sed quia non numquam eius modi
							</p>
							<div class="blog-details-comment-btn">
								<button class="btn comment-btn">
									<i class="fa fa-heart" aria-hidden="true"></i> Like</button
								><button class="btn comment-btn">
									<i class="fa fa-reply" aria-hidden="true"></i> Reply
								</button>
							</div>
						</div>
					</div>
					<div class="blog-details-comment comment-reply">
						<div class="blog-details-comment-pp"><img src="/images/comment.png" /></div>
						<div class="blog-details-comment-text">
							<span>Sep 08, 2020</span>
							<h5>Elizabeth Perry</h5>
							<p>
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
								velit, sed quia non numquam eius modi
							</p>
							<div class="blog-details-comment-btn">
								<button class="btn comment-btn">
									<i class="fa fa-heart" aria-hidden="true"></i> Like</button
								><button class="btn comment-btn">
									<i class="fa fa-reply" aria-hidden="true"></i> Reply
								</button>
							</div>
						</div>
					</div>
					<div class="blog-details-comment comment-reply">
						<div class="blog-details-comment-pp"><img src="/images/comment.png" /></div>
						<div class="blog-details-comment-text">
							<span>Sep 08, 2020</span>
							<h5>John Smith</h5>
							<p>
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
								velit, sed quia non numquam eius modi
							</p>
							<div class="blog-details-comment-btn">
								<button class="btn comment-btn">
									<i class="fa fa-heart" aria-hidden="true"></i> Like</button
								><button class="btn comment-btn">
									<i class="fa fa-reply" aria-hidden="true"></i> Reply
								</button>
							</div>
						</div>
					</div>
					<div class="blog-details-comment">
						<div class="blog-details-comment-pp"><img src="/images/comment.png" /></div>
						<div class="blog-details-comment-text">
							<span>Sep 08, 2020</span>
							<h5>Adrian Coleman</h5>
							<p>
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
								velit, sed quia non numquam eius modi
							</p>
							<div class="blog-details-comment-btn">
								<button class="btn comment-btn">
									<i class="fa fa-heart" aria-hidden="true"></i> Like</button
								><button class="btn comment-btn">
									<i class="fa fa-reply" aria-hidden="true"></i> Reply
								</button>
							</div>
						</div>
					</div>
					<hr />
					<form class="blog-details-input">
						<div class="row">
							<div class="col-lg-6 mt-3">
								<input
									type="text"
									class="form-control"
									placeholder="Name"
									aria-label="Username"
									aria-describedby="basic-addon1"
								/>
							</div>
							<div class="col-lg-6 mt-3">
								<input
									type="text"
									class="form-control"
									placeholder="Email adress"
									aria-label="Username"
									aria-describedby="basic-addon1"
								/>
							</div>

							<div class="col-12 my-3">
								<textarea
									class="form-control"
									placeholder="Massage"
									id="floatingTextarea"
									rows="5"
								></textarea>
							</div>
							<div class="col-12">
								<input type="submit" class="btn" value="Send Massage" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
