{% extends 'layouts/master.twig' %} {% set pageName = " index" %} {% set pageTitle = "contact" %} {% block content %}

<div class="featured-section">
    <div class="top-banner ">
        <h1>Contact</h1>
        <p>Welcome to the official Anime blog.</p>
    </div>



</div>
{% endblock %}