{% extends 'layouts/master.twig' %} {% set pageName = " index" %} {% set pageTitle = "Homepage" %} {% block content %}
<div class="featured-section">
	<div class="container">
		<div class="slider">
			<div class="index-slider my-3 my-md-5" id="index-slider">
				<div>
					<div class="slick">
						<div>
							<div class="slider-content">
								<div class="row">
									<div class="col-md-6">
										<div class="slider-content-tag mb-2 mb-sm-4"><span>Adventure </span></div>
										<h2 class="mb-sm-3">Fate / Stay Night: Unlimited Blade Works</h2>
										<p class="mb-sm-5">After 30 days of travel across the world...</p>
										<a href="anime-details.html"><button class="btn">WATCH NOW</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="slick">
						<div>
							<div class="slider-content">
								<div class="row">
									<div class="col-md-6">
										<div class="slider-content-tag mb-2 mb-sm-4"><span>Adventure </span></div>
										<h2 class="mb-sm-3">Fate / Stay Night: Unlimited Blade Works</h2>
										<p class="mb-sm-5">After 30 days of travel across the world...</p>
										<a href="anime-details.html"><button class="btn">WATCH NOW</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="slick">
						<div class="slider-content">
							<div>
								<div class="row">
									<div class="col-md-6">
										<div class="slider-content-tag mb-2 mb-sm-4"><span>Adventure </span></div>
										<h2 class="mb-sm-3">Fate / Stay Night: Unlimited Blade Works</h2>
										<p class="mb-sm-5">After 30 days of travel across the world...</p>
										<a href="anime-details.html"><button class="btn">WATCH NOW</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-12 d-flex justify-content-between align-items-center mb-3">
						<div><h4 class="heading-with-border">Recently Added Animes</h4></div>
						<div>
							<a href="categories-romance.html"
								>VIEW ALL <i class="fa fa-arrow-right" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					{% for i in range(1,12) %}
					<div class="col-lg-4 col-md-6 mb-5">
						<a href="anime-details.html"
							><div class="anime-pic">
								<div class="anime-alerts">
									<div class="number-of-episodes">17/?</div>
									<div class="views"><i class="fa fa-eye" aria-hidden="true"></i> 9654</div>
								</div>
							</div></a
						>
						<div class="anime-text">
							<div class="d-flex mb-3">
								<div class="categori-alert">Active</div>
								<div class="categori-alert">Movie</div>
							</div>
							<div>
								<a href="#"><h5>Fullmetal Alchemist: Brotherhood</h5></a>
							</div>
						</div>
					</div>

					{% endfor %}
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row">
					<div class="col-12 mb-3">
						<h4 class="heading-with-border">Popular Series</h4>
						<div class="row">
							<div class="col-md-6 col-lg-12 mixitupbtn mt-4">
								<label data-filter=".day">Day </label>
								<label data-filter=".week">Week </label>
								<label data-filter=".month">Month </label>
								<label data-filter=".years">Years </label>
							</div>
						</div>
					</div>
				</div>
				<div id="mixitup" class="container mixitup-container">
					<div class="mixup">
						<div class="mix day" data-order="1">
							{% for i in range(1,3) %}
							<div class="row">
								<div class="col-md-6 col-lg-12 mb-3">
									<a href="#">
										<div class="sidebar-news">
											<div class="anime-alerts">
												<div class="number-of-episodes">17/?</div>
												<div class="views">
													<i class="fa fa-eye" aria-hidden="true"></i> 1254
												</div>
											</div>
											<div class="sidebar-news-text">
												<h5>The Seven Deadly Sins: Wrath of the Gods</h5>
											</div>
										</div>
									</a>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="mix week" data-order="2">
							{% for i in range(1,5) %}
							<div class="row">
								<div class="col-md-6 col-lg-12 mb-3">
									<a href="#">
										<div class="sidebar-news">
											<div class="anime-alerts">
												<div class="number-of-episodes">17/?</div>
												<div class="views">
													<i class="fa fa-eye" aria-hidden="true"></i> 9356
												</div>
											</div>
											<div class="sidebar-news-text">
												<h5>The Seven Deadly Sins: Wrath of the Gods</h5>
											</div>
										</div>
									</a>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="mix month" data-order="3">
							{% for i in range(1,2) %}
							<div class="row">
								<div class="col-md-6 col-lg-12 mb-3">
									<a href="#">
										<div class="sidebar-news">
											<div class="anime-alerts">
												<div class="number-of-episodes">17/?</div>
												<div class="views">
													<i class="fa fa-eye" aria-hidden="true"></i> 4758
												</div>
											</div>
											<div class="sidebar-news-text">
												<h5>The Seven Deadly Sins: Wrath of the Gods</h5>
											</div>
										</div>
									</a>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="mix years" data-order="4">
							{% for i in range(1,6) %}
							<div class="row">
								<div class="col-md-6 col-lg-12 mb-3">
									<a href="#">
										<div class="sidebar-news">
											<div class="anime-alerts">
												<div class="number-of-episodes">17/?</div>
												<div class="views">
													<i class="fa fa-eye" aria-hidden="true"></i> 5895
												</div>
											</div>
											<div class="sidebar-news-text">
												<h5>The Seven Deadly Sins: Wrath of the Gods</h5>
											</div>
										</div>
									</a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 mb-3"><h5 class="heading-with-border">New Comment</h5></div>

					{% for i in range(1,4) %}
					<div class="col-12 mb-3">
						<div class="sidebar-comment d-flex align-items-center">
							<div class="sidebar-new-comment-foto">
								<a href="#"><img src="/images/comment-4.jpg" /></a>
							</div>

							<div class="sidebar-comment-news-text">
								<div class="d-flex mb-3">
									<div class="categori-alert">Active</div>
									<div class="categori-alert">Movie</div>
								</div>
								<a><h5>The Seven Deadly Sins: Wrath of the Gods</h5></a>
								<div class="comment-viewes">
									<i class="fa fa-eye" aria-hidden="true"></i> 19.141 Viewes
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} xz
