<header class="header" id="header">
	<nav class="navbar bg-body-tertiary">
		<div class="container">
			<a href="index.html" class="navbar-brand"><img src="/images/logo.png" /></a>

			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="index.html">Homepage</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="categories.html">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="seasonal-anime.html">Seasonal Anime </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="blog.html">Our Blog</a>
				</li>
			</ul>

			<div class="d-flex" role="search">
				<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalSearch">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
				<a href="login.html"
					><button class="btn"><i class="fa fa-user" aria-hidden="true"></i></button
				></a>
			</div>
		</div>
	</nav>
</header>
