<header class="header header-area" id="header">
	<div class="navbar-area">
		<div class="container">
			<nav class="site-navbar">
				<button class="btn nav-toggler">
					<span></span>
				</button>
				<a href="#home" class="site-logo">logo</a>
				<ul>
					<li><a href="#">Homepage</a></li>
					<li><a href="#">Categories</a></li>
					<li><a href="#">Seasonal Anime</a></li>
					<li><a href="#">Our Blog</a></li>
				</ul>
				<div>search--area</div>
			</nav>
		</div>
	</div>
</header>
