<header class="header header-area" id="header">
	<div class="navbar-area">
		<div class="container">
			<nav class="site-navbar">
				<button class="btn nav-toggler">
					<span></span>
				</button>
				<a href="index.html" class="site-logo"><img src="/images/logo.png" /></a>
				<ul>
					<li class="toggler">
						<button class="btn btntoggler"><i class="fa fa-times" aria-hidden="true"></i></button>
					</li>
					<li><a href="index.html">Homepage</a></li>
					<li><a href="categories.html">Categories</a></li>
					<li><a href="seasonal-anime.html">Seasonal Anime</a></li>
					<li><a href="blog.html">Our Blog</a></li>
				</ul>
				<div class="search-user-btn" role="search">
					<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalSearch">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
					<a href="login.html"
						><button class="btn"><i class="fa fa-user" aria-hidden="true"></i></button
					></a>
				</div>
			</nav>
		</div>
	</div>
</header>
