.nav-hamburger {
  display: block;
  color: $light;
  font-size: 20px;
  border-radius: 5px;
  width: 70px;
  @include from($tablet) {
    display: none;
  }
}

.header .btn {
  padding: 0px 8px;
  font-size: 20px;
  background-color: transparent;
  border-radius: 50%;
  @include from($tablet) {
  }
}

.search-user-btn {
  display: flex;
  width: 70px;
}
