.top-banner {
  background-image: url(/images/backgrund-images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
