.categorie-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #1f1b34;
  @include from($tablet) {
    height: 200px;
  }
}

.anime-title {
  font-size: 32px;
  font-weight: 700;
  @include from($desktop) {
    font-size: 42px;
  }
}
