.categorie-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 100px;
  margin-bottom: 30px;
  background-color: #161628;
  @include from($tablet) {
    height: 100px;
  }
}

.anime-title {
  font-size: 24px;
  font-weight: 700;
  @include from($desktop) {
    font-size: 30px;
  }
}
