.slick {
  width: 100%;
}
.anime-pic {
  background-image: url(/images/recent-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 325px;
  border-radius: 5px;

  margin-bottom: 20px;
}
