::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--typography-color);
  font-family: "Montserrat", sans-serif;
}

a {
  transition: all 0.2s;
}

::selection {
  color: $white;
  background-color: $primary-dark;
}

.heading {
  color: var(--heading-color);
}
